<launch>
  <arg name="live" default="false"/>
  <arg name="debug_view" default="true"/>
  <arg name="debug_port" default="8080"/>
  <arg name="enabled" default="false"/>
  <arg name="start_actuators" default="false"/>
  <!-- Stable completion: obstacle stopping also protects ordinary driving. -->
  <arg name="lidar_enabled" default="true"/>
  <arg name="lidar_shape_filter" default="true"/>
  <arg name="config" default="$(find robocup_competition)/config/competition.yaml"/>
  <arg name="maneuver_config" default="$(find robocup_competition)/config/maneuvers.yaml"/>
  <arg name="start_rear" default="true"/>
  <arg name="front_fps" default="15"/>
  <arg name="rear_fps" default="8"/>
  <arg name="lane_hz" default="12"/>
  <arg name="lane_window_height" default="40"/>
  <arg name="lane_min_span" default="0.15"/>
  <arg name="right_turn_full_lock" default=""/>
  <arg name="right_exit_on_blue" default=""/>
  <arg name="right_lock_min_angle_deg" default=""/>
  <arg name="right_lock_max_angle_deg" default=""/>
  <arg name="right_lock_heading_deg" default=""/>
  <arg name="parking_enabled" default="true"/>
  <arg name="parking_slot" default="AUTO"/>
  <arg name="parking_mode" default=""/>
  <arg name="parking_entry_speed_raw" default=""/>
  <arg name="parking_final_speed_raw" default=""/>
  <arg name="parking_bottom_clearance_m" default=""/>
  <arg name="parking_divider_trigger_x" default=""/>
  <arg name="parking_speed_raw" default=""/>
  <arg name="parking_lookahead" default=""/>
  <arg name="parking_observe_s" default=""/>
  <arg name="parking_prep_offset" default=""/>
  <arg name="parking_road_half_width" default=""/>
  <arg name="ground_hz" default=""/>
  <arg name="ground_timeout" default=""/>
  <arg name="sign_hz" default=""/>
  <arg name="sign_backend" default="yolo_trt"/>
  <arg name="sign_model" default="/home/nano/robodata/models/20260916_yolov5s/yolov5s_640_fp16.engine"/>
  <arg name="sign_labels" default="/home/nano/robodata/models/20260915_10000/labels.json"/>
  <arg name="sign_roi_mode" default="board"/>
  <arg name="sign_ttl" default="0"/>
  <arg name="wait_green" default="true"/>
  <arg name="blue_default_straight" default="false"/>
  <arg name="marker_trigger_x" default=""/>
  <arg name="marker_memory_s" default=""/>
  <arg name="intersection_wait_s" default=""/>
  <arg name="uturn_reverse_speed_raw" default=""/>
  <arg name="uturn_brake_lead_m" default=""/>
  <arg name="uturn_reverse_max_distance" default=""/>
  <arg name="turn_entry" default=""/>
  <arg name="turn_radius" default=""/>
  <arg name="turn_angle_deg" default=""/>
  <arg name="turn_exit" default=""/>
  <arg name="left_turn_entry" default=""/>
  <arg name="left_turn_full_lock" default=""/>
  <arg name="lidar_timeout" default=""/>
  <arg name="left_turn_radius" default=""/>
  <arg name="left_turn_angle_deg" default=""/>
  <arg name="left_turn_exit" default=""/>
  <arg name="right_turn_entry" default=""/>
  <arg name="right_reverse_entry_m" default=""/>
  <arg name="right_turn_radius" default=""/>
  <arg name="right_turn_angle_deg" default=""/>
  <arg name="right_turn_exit" default=""/>
  <arg name="straight_distance" default=""/>
  <arg name="blue_aligned_advance_m" default=""/>
  <arg name="blue_align_duration_s" default=""/>
  <arg name="lane_speed_raw" default=""/>
  <arg name="lane_curvature_preview" default="false"/>
  <arg name="lane_curve_speed_raw" default="12"/>
  <arg name="action_speed_raw" default=""/>
  <arg name="straight_speed_raw" default=""/>
  <arg name="startup_steering_raw" default=""/>
  <arg name="startup_follow_lane" default="false"/>
  <arg name="uturn_reverse_distance_m" default="0"/>
  <arg name="uturn_relative_enabled" default="false"/>
  <arg name="lookahead" default=""/>
  <arg name="right_align_lookahead" default=""/>
  <arg name="right_left_capture_max_m" default=""/>
  <arg name="steering_command_scale_rad" default="0.03"/>
  <arg name="action_lookahead" default=""/>
  <arg name="exit_yaw_tolerance" default=""/>
  <arg name="exit_lane_heading_tolerance" default=""/>
  <arg name="exit_lateral_tolerance" default=""/>
  <include file="$(find robocup_competition)/launch/stack.launch">
    <arg name="sign_backend" value="$(arg sign_backend)"/>
    <arg name="sign_model" value="$(arg sign_model)"/>
    <arg name="sign_labels" value="$(arg sign_labels)"/>
    <arg name="sign_roi_mode" value="$(arg sign_roi_mode)"/>
    <arg name="start_rear" value="$(arg start_rear)"/>
    <arg name="front_fps" value="$(arg front_fps)"/>
    <arg name="rear_fps" value="$(arg rear_fps)"/>
    <arg name="lane_hz" value="$(arg lane_hz)"/>
    <arg name="lane_window_height" value="$(arg lane_window_height)"/>
    <arg name="lane_min_span" value="$(arg lane_min_span)"/>
    <arg name="right_turn_full_lock" value="$(arg right_turn_full_lock)"/>
    <arg name="right_exit_on_blue" value="$(arg right_exit_on_blue)"/>
    <arg name="right_lock_min_angle_deg" value="$(arg right_lock_min_angle_deg)"/>
    <arg name="right_lock_max_angle_deg" value="$(arg right_lock_max_angle_deg)"/>
    <arg name="right_lock_heading_deg" value="$(arg right_lock_heading_deg)"/>
    <arg name="parking_enabled" value="$(arg parking_enabled)"/>
    <arg name="parking_slot" value="$(arg parking_slot)"/>
    <arg name="parking_mode" value="$(arg parking_mode)"/>
    <arg name="parking_entry_speed_raw" value="$(arg parking_entry_speed_raw)"/>
    <arg name="parking_final_speed_raw" value="$(arg parking_final_speed_raw)"/>
    <arg name="parking_bottom_clearance_m" value="$(arg parking_bottom_clearance_m)"/>
    <arg name="parking_divider_trigger_x" value="$(arg parking_divider_trigger_x)"/>
    <arg name="parking_speed_raw" value="$(arg parking_speed_raw)"/>
    <arg name="parking_lookahead" value="$(arg parking_lookahead)"/>
    <arg name="parking_observe_s" value="$(arg parking_observe_s)"/>
    <arg name="parking_prep_offset" value="$(arg parking_prep_offset)"/>
    <arg name="parking_road_half_width" value="$(arg parking_road_half_width)"/>
    <arg name="ground_hz" value="$(arg ground_hz)"/>
    <arg name="ground_timeout" value="$(arg ground_timeout)"/>
    <arg name="sign_hz" value="$(arg sign_hz)"/>
    <arg name="sign_ttl" value="$(arg sign_ttl)"/>
    <arg name="wait_green" value="$(arg wait_green)"/>
    <arg name="blue_default_straight" value="$(arg blue_default_straight)"/>
    <arg name="marker_trigger_x" value="$(arg marker_trigger_x)"/>
    <arg name="marker_memory_s" value="$(arg marker_memory_s)"/>
    <arg name="intersection_wait_s" value="$(arg intersection_wait_s)"/>
    <arg name="uturn_reverse_speed_raw" value="$(arg uturn_reverse_speed_raw)"/>
    <arg name="uturn_brake_lead_m" value="$(arg uturn_brake_lead_m)"/>
    <arg name="uturn_reverse_max_distance" value="$(arg uturn_reverse_max_distance)"/>
    <arg name="turn_entry" value="$(arg turn_entry)"/>
    <arg name="turn_radius" value="$(arg turn_radius)"/>
    <arg name="turn_angle_deg" value="$(arg turn_angle_deg)"/>
    <arg name="turn_exit" value="$(arg turn_exit)"/>
    <arg name="left_turn_entry" value="$(arg left_turn_entry)"/>
    <arg name="left_turn_full_lock" value="$(arg left_turn_full_lock)"/>
    <arg name="lidar_timeout" value="$(arg lidar_timeout)"/>
    <arg name="left_turn_radius" value="$(arg left_turn_radius)"/>
    <arg name="left_turn_angle_deg" value="$(arg left_turn_angle_deg)"/>
    <arg name="left_turn_exit" value="$(arg left_turn_exit)"/>
    <arg name="right_turn_entry" value="$(arg right_turn_entry)"/>
    <arg name="right_reverse_entry_m" value="$(arg right_reverse_entry_m)"/>
    <arg name="right_turn_radius" value="$(arg right_turn_radius)"/>
    <arg name="right_turn_angle_deg" value="$(arg right_turn_angle_deg)"/>
    <arg name="right_turn_exit" value="$(arg right_turn_exit)"/>
    <arg name="straight_distance" value="$(arg straight_distance)"/>
    <arg name="blue_aligned_advance_m" value="$(arg blue_aligned_advance_m)"/>
    <arg name="blue_align_duration_s" value="$(arg blue_align_duration_s)"/>
    <arg name="lane_speed_raw" value="$(arg lane_speed_raw)"/>
    <arg name="lane_curvature_preview" value="$(arg lane_curvature_preview)"/>
    <arg name="lane_curve_speed_raw" value="$(arg lane_curve_speed_raw)"/>
    <arg name="action_speed_raw" value="$(arg action_speed_raw)"/>
    <arg name="straight_speed_raw" value="$(arg straight_speed_raw)"/>
    <arg name="startup_steering_raw" value="$(arg startup_steering_raw)"/>
    <arg name="startup_follow_lane" value="$(arg startup_follow_lane)"/>
    <arg name="uturn_reverse_distance_m" value="$(arg uturn_reverse_distance_m)"/>
    <arg name="uturn_relative_enabled" value="$(arg uturn_relative_enabled)"/>
    <arg name="lookahead" value="$(arg lookahead)"/>
    <arg name="right_align_lookahead" value="$(arg right_align_lookahead)"/>
    <arg name="right_left_capture_max_m" value="$(arg right_left_capture_max_m)"/>
    <arg name="steering_command_scale_rad" value="$(arg steering_command_scale_rad)"/>
    <arg name="action_lookahead" value="$(arg action_lookahead)"/>
    <arg name="exit_yaw_tolerance" value="$(arg exit_yaw_tolerance)"/>
    <arg name="exit_lane_heading_tolerance" value="$(arg exit_lane_heading_tolerance)"/>
    <arg name="exit_lateral_tolerance" value="$(arg exit_lateral_tolerance)"/>
    <arg name="config" value="$(arg config)"/>
    <arg name="maneuver_config" value="$(arg maneuver_config)"/>
    <arg name="live" value="$(arg live)"/><arg name="enabled" value="$(arg enabled)"/>
    <arg name="start_actuators" value="$(arg start_actuators)"/>
    <arg name="start_cameras" value="true"/><arg name="start_lane" value="true"/>
    <arg name="start_lidar" value="$(eval arg('lidar_enabled') or arg('parking_enabled'))"/>
    <arg name="lidar_enabled" value="$(arg lidar_enabled)"/>
    <arg name="lidar_shape_filter" value="$(arg lidar_shape_filter)"/>
  </include>
  <include if="$(arg debug_view)" file="$(find robocup_competition)/launch/debug_view.launch">
    <arg name="port" value="$(arg debug_port)"/>
  </include>
  <arg name="record_lane" default="false"/>
  <arg name="record_max_mb" default="512"/>
  <arg name="record_duration_s" default="0"/>
  <arg name="record_start_on_motion" default="false"/>
  <node if="$(arg record_lane)" pkg="robocup_competition" type="record_run.py"
        name="lane_run_recorder" output="screen">
    <param name="max_mb" value="$(arg record_max_mb)"/>
    <param name="duration_s" value="$(arg record_duration_s)"/>
    <param name="start_on_motion" value="$(arg record_start_on_motion)"/>
  </node>
</launch>
